<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='style.css') }}">
    <link rel="stylesheet" href="style.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    {{ dropzone.load_css() }}
    {{ dropzone.style('border: 2px dashed #0087F7; margin: 10%; min-height: 400px;') }}
    <style>
    .dropzone {
        border: 2px dashed #0087F7;
        margin: 10%;
        min-height: 400px;
    }
</style>

</head>
<body>
    {{ dropzone.create(action='file_download') }}
    {{ dropzone.create(id='foo') }}
    {{ dropzone.create(id='bar') }}

    <form method="post" action="/upload">
        <label ></label> <br>
        <input type="file" name="file" accept=".png" >
        <input type="submit" value="Upload" >
    </form>
    
    {{ dropzone.config(id='foo') }}
    {{ dropzone.config(id='bar') }}
    {{ dropzone.config() }}
    {{ dropzone.load_js() }}
</body>
</html>